{% extends "layout.html" %} {% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 align-self-center">Pengolahan Citra Digital</h1>
        <p class="lead"> Ini adalah website untuk mensimulasikan pengolahan citra digital.</p>
        <form id="" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            Pilih File <br>
            <input name="file" type="file" id="inputGroupFile04" accept="image/*"><br>
            <button type="submit" class="btn btn-primary mt-2">Upload</button>
        </form>
    </div>
</div>
{% endblock %}