<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Digital Image Processing</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      .content {
        margin-left: 400px;
        padding: 20px;
      }
      .navbar {
        z-index: 1000;
      }
      .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 400px;
        background-color: #f8f9fa;
        padding-top: 50px;
        z-index: 900;
        overflow-y: auto;
      }

      .sidebar form {
        padding: 10px 15px;
        display: block;
        text-decoration: none;
        color: #000;
      }

      .sidebar form:hover {
        background-color: #e9ecef;
      }
    </style>
  </head>
  <body>
    <!-- Navbar -->
    {% include "includes/_navbar.html" %}
    <div class="sidebar">
      <div class="container">
        <h3 class="mt-3">Umum</h3>
        <div class="row">
          <div class="col-4">
            <form
              id="form_normal"
              action="{{ url_for('normal') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Normal</button>
            </form>
          </div>
          <div class="col-4">
            <form
              id="form_grayscale"
              action="{{ url_for('grayscale') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Grayscale</button>
            </form>
          </div>
          <div class="col-4">
            <form
              id="form_binary"
              action="{{ url_for('binary') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Binary</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <form
              id="form_zoomin"
              action="{{ url_for('zoomin') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary btn-block">
                Zoom In
              </button>
            </form>
          </div>
          <div class="col-6">
            <form
              id="form_zoomout"
              action="{{ url_for('zoomout') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary btn-block">
                Zoom Out
              </button>
            </form>
          </div>
        </div>

        <hr />

        <h3>Pergeseran</h3>
        <div class="row">
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('move_left') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Geser Kiri</button>
            </form>
          </div>
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('move_right') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Geser Kanan</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('move_up') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Geser Atas</button>
            </form>
          </div>
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('move_down') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Geser Bawah</button>
            </form>
          </div>
        </div>

        <hr />

        <h3>Penerangan</h3>
        <div class="row">
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('brightness_multiplication') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Terang (*)</button>
            </form>
          </div>
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('brightness_division') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Gelap (/)</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('brightness_addition') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Terang (+)</button>
            </form>
          </div>
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('brightness_substraction') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Gelap (-)</button>
            </form>
          </div>
        </div>

        <hr />

        <h3>Analisis Gambar</h3>
        <form
          id=""
          action="{{ url_for('histogram_rgb') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <button type="submit" class="btn btn-primary">Histogram</button>
        </form>

        <hr />

        <h3>Pemrosesan Gambar</h3>
        <form
          id=""
          action="{{ url_for('histogram_equalizer') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <button type="submit" class="btn btn-primary">
            Histogram Equalizer
          </button>
        </form>

        <hr />

        <h3>Filter Gambar</h3>
        <form
          id=""
          action="{{ url_for('edge_detection') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <button type="submit" class="btn btn-primary">Edge Detection</button>
        </form>
        <form
          id=""
          action="{{ url_for('blur') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <button type="submit" class="btn btn-primary">Blur</button>
        </form>
        <form
          id=""
          action="{{ url_for('sharpening') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <button type="submit" class="btn btn-primary">Sharpening</button>
        </form>

        <hr />

        <h3>Segmentation</h3>
        <form
          id=""
          action="{{ url_for('thresholding') }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Batas Bawah</th>
                <th>Batas Atas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input
                    type="number"
                    name="lower_thres"
                    placeholder="0-255"
                    value="{{ lower_thres }}"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    name="upper_thres"
                    placeholder="0-255"
                    value="{{ upper_thres }}"
                  />
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <button type="submit" class="btn btn-primary">
                    Thresholding
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </form>

        <h3>Operasi Morfologi</h3>
        <div class="row">
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('dilation') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Dilasi</button>
            </form>
          </div>
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('erosion') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Erosi</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('opening') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Opening</button>
            </form>
          </div>
          <div class="col-6">
            <form
              id=""
              action="{{ url_for('closing') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">Closing</button>
            </form>
          </div>
        </div>

        <hr />

        <h3>Counting Object</h3>
        <div class="row">
          <div class="col-12">
            <form
              id=""
              action="{{ url_for('counting_object') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">
                Hitung Objek
              </button>
            </form>
          </div>
        </div>

        <h3>Identifikasi Angka</h3>
        <div class="row">
          <div class="col-12">
            <form
              id=""
              action="{{ url_for('number_recognition') }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <button type="submit" class="btn btn-primary">
                Identifikasi
              </button>
            </form>
          </div>
        </div>

        <h3>Identifikasi muka</h3>
        <div class="row">
          <div class="col-12">
            <button type="button" class="btn btn-primary">
              <a href="{{ url_for('face_rec') }}" style="color: white; text-decoration: none;"> Identifikasi </a>
            </button>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container content">{% block body %}{% endblock %}</div>
  </body>
</html>
